<mat-card appearance="outlined">
  <mat-card-header>
    <mat-card-title>{{ dayName }}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <strong class="merenda">MERENDA</strong>
    <select class="{{dayName}} inp" (change)="callChangeSnack($event)">
      @for (item of snackOptions; track $index) {
        <option [value]="item.id" [selected]="idSnack === item.id">{{ item.name }}</option>
      }
    </select>
    <strong class="almoco">ALMOÇO</strong>
    <select class="{{dayName}} inp">
      @for (item of lunchOptions; track $index) {
        <option [value]="item.id" [selected]="idLouch === item.id">{{ item.name }}</option>
      }
    </select>
  </mat-card-content>
</mat-card>
